/* 전체 영역에 적용될 내용 시작 */

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    border-style:initial;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 전체 영역 끝 */

/* --------최상단 고객센터 글 box---------- */
.FAQ-user-center{
    margin-top: 50px;
    overflow: hidden;
    margin-bottom: 35px;
}
.FAQ-user-center-box{
    margin-right: 40px;
    float: left;
}
.FAQ-user-center-box p {
    font-size: 40px;
}
.FAQ-user-center-writing{
    padding-top: 9px;
    float: left;
}
.FAQ-user-center-writing-p1{
    margin-bottom: 0px;
}
/* --------기능 종류 box-------- */
.FAQ-function-kinds{
    text-align: center;
    overflow: hidden;
    height: 50px;
}
.FAQ-function-kinds-ul li a{
    font-size: 18px;
    font-weight: bolder;
    color: #494949;
    width: 20%;
    float: left;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
}
.FAQ-function-kinds-ul li a:hover{
    border-bottom: 6px solid #494949;
    top:100%;
    left: 0;
    transition: .5s;
}
/* 빈 박스 */
.FAQ-function-kinds-boxp{
    width: 20%;
    float: left;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    height: 50px;
}
.FAQ-function-kinds-boxb{
    width: 20%;
    float: left;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    height: 50px;
}
/* ---------FAQ 질문 종류 box-------- */
.FAQ-sub-question-box{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    overflow: hidden;
    margin-left: 21%;
    margin-right: 21%;
    height: 50px;
}
.FAQ-sub-question-box div{
    float: left;
    margin: 0px 0px 50px 50px;

}
.FAQ-sub-question-box div button{
    width: 100%;
    padding: 3px;
    font-size: 17px;
    background-color: white;
    font-weight: bold;
    color: hsl(0, 0%, 67%);
}
.FAQ-sub-question-box div button:hover{
    color: #494949;
}
.FAQ-sub-question-box div button:focus{
    color: #494949;
    border-bottom: 6px solid #494949;
    transition: .5s;
}
/* --------검색 기능 box----------- */
.FAQ-such-box{
margin-left: 28%;
margin-bottom: 50px;
}
.FAQ-such-div{
    margin-left: 30px;
    width: 500px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #494949;
    overflow: hidden;
}
.FAQ-such-div input{
    width: 90%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.FAQ-such-div button{
    font-weight: bold;
    font-size: large;
    text-align: center;
    width: 10%;
    height: auto;
    float: right;
    border-left: 2px solid #494949;
    background-color: white;
}
/* ---------전화 문의 안내 글 box-------- */
.FAQ-question-guide-box{
    border-bottom: 2px solid #494949;
    overflow: hidden;
}
.FAQ-question-guide-div{
    color: #858585;
    float: right;
}
/* ---------FAQ 해당 질문 및 답변 글-------- */
/* 질문 구역 */
.FAQ-question-box{
    overflow: hidden;
    height: 50px;
    margin-top: 15px;
    border-bottom: 2px solid hsl(0, 0%, 83%);
    margin-bottom: 15px;
}
.FAQ-question-box div{
    float: left;
}
.FAQ-question-icon-box{
    text-align: center;
    width: 10%; 
}
.FAQ-question-icon-box button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-weight: 700;
    background-color: white;
    color: #494949;
    border: 2px solid #858585;
}
.FAQ-question-title{
    width: 70%;
    font-size: 20px;
    font-weight: 600;
}
.FAQ-question-title button{
    text-align: left;
    padding-left: 30px;
    width: 100%;
    background-color: white;
}
.FAQ-question-look{
    width: 20%;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
}
.FAQ-question-look button{
    font-size: 30px;
    background-color: white;
    color:#bfbfbf;
}
/* ct */
.ct{
    overflow: hidden;
    height: 50px;
    margin-top: 15px;
    border-bottom: 2px solid hsl(0, 0%, 83%);
    margin-bottom: 15px;
}
.ct div{
    float: left;
}
.FAQ-hide{
    overflow: hidden;
    margin-top: 25px;
}
.FAQ-hide div{
    float: left;
}
/* 답변 구역 */
.FAQ-answer-box{
    display: none;
    overflow: hidden;
    margin-top: 25px;
}
.FAQ-answer-box div{
    float: left;
}
.FAQ-answer-icon-box{
    text-align: center;
    width: 10%; 
}
.FAQ-answer-icon-box button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-weight: 700;
    background-color: hsl(56, 100%, 50%);
    color: #494949;
    border: 2px solid #858585;
}
.FAQ-answer-content{
    overflow: auto;
    width: 70%;
    padding-left: 30px;
    margin-bottom: 30px;
}
