
/* ================================================================= 기본설정 =====================================================================*/

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none; 
  }

body, html{
    width:100%;
    min-width: 320px; 
}

img {
	max-width: 100%; /*사이즈가 변해도 넓이를 유지 */
	height: auto; /*사이즈가 변해도 높이를 유지 */
	/*vertical-align: top;*/
}

input, textarea, button, select {
	/*고유하게 적용되어있는 form관련 요소들을 제거해서 여러브라우저에서 동일한디자인을 얻게함*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none
}

ul,li,dl,ol{
    list-style: none;
}

/* ================================================================= 헤더 =====================================================================*/
/*[1]: .header 박스 (최상위 박스) 설정*/
.header {
    height: 80px;
    background-color: rgb(59, 57, 57);
}

/*[2]: .nav 박스 (header의 박스의 자식 박스) 설정*/
.header-nav {
    position: relative; /*[3-1], [3-2] 포지셔닝 기준*/
    height: 80px;
    display: flex; /*nav 박스 자식인 home-container, nav-links 박스들 인라인 정렬*/
}

/*[3-1]: .home-container 박스 (nav 박스의 자식 박스) 설정*/
.home-container {
    position:absolute; /*[2] 기준으로 포지셔닝*/
    left: 10px;
    height: 80px;
    display: flex;
}

/* .home 박스 (.home-container의 자식 박스) 설정*/
.home-container div{
    margin-right: 15px;
}

/* .main-search-bar-container 박스 (.home-container의 자식 박스) 설정*/
.main-search-bar-container{
	width:400px;
    position: relative; /* .main-search-bar, .main-search-button 포지셔닝 기준*/
    display: flex;
}

/*검색창 디자인*/
.main-search-bar{
    position: absolute; /*.main-search-bar-container 기준으로 포지셔닝*/
    top: 25%;
    height: 40px;
    width: 400px;
    border-radius: 40px; /*%적용 X, px로*/
    background-color: none;
    font-size: 1em; 
    text-indent: 10px;
}

/* 검색창(input 박스) 클릭시 테두리 없애기*/
.main-search-bar:focus{
    outline: none;
}

/*검색창 돋보기 이미지 설정*/
.main-search-button img{
    position: absolute;
    top: 35%;
    left: 360px;
    width: 27px;
    height: 27px;
    -webkit-filter: opacity(.9) drop-shadow(1 1 1 gray);
    filter: opacity(.9) drop-shadow(1 1 1 gray);
}

/*홈버튼 a 박스 설정*/
.nav .home a {
    line-height: 80px; /*[2] 기준 수직 정렬(상위 box와 동일한 높이값)*/
    font-family: 'Pacifico', cursive;
    font-size: 30px; /*HireHigher 글자 크기*/
    color: #27a041;
    position: relative; /*cotent='' 위치 설정용*/
}

/*홈버튼 애니메이션*/
.home a:before { 
    content: '';
    width: 0px;
    height: 3px;
    background: #d734e6;
    position: absolute;
    top:100%;
    left: 0%;
    transition: .5s;
}

.home:hover a:before { /*HireHigher hover animation*/
    width: 100%;
}

/*[3-2]: .nav-links 박스 (nav 박스의 자식 박스) 설정*/
.nav-links { /*ul box 설정*/
    position: absolute; /*[2] 기준으로 포지셔닝*/
    right: 10px;
    display: flex; /*.nav-links 자식인 li box들 인라인 정렬*/
    line-height: 80px; /*[2] 기준 수직 정렬(상위 box와 동일한 높이값)*/
	font-family: 'Bebas Neue', cursive;
    font-size: 23px;
}

/*메뉴 li 박스 설정*/
.nav-links li { /*li box들 설정*/
    padding-left: 20px; /*li 메뉴간 사이 간격 설정*/
    padding-right: 20px; /*li 메뉴간 사이 간격 설정*/
}

.nav-links li a:hover,.nav-links li a:focus{
	list-style: none;
    text-decoration: none;
}

/*메뉴 a 박스 설정*/
.header-nav ul li a {
    position: relative; /*cotent='' 위치 설정용*/
    color:rgb(247, 242, 242); /*li나 ul태그에 색상 설정 적용 X*/
}

/*메뉴 로고들 설정*/
.header-nav ul li a img{
    width: 22px;
    height: 22px;
    -webkit-filter: opacity(.9) drop-shadow(0 0 0 gray);
    filter: opacity(.9) drop-shadow(0 0 0 gray) brightness(20);
    padding-left: 7px;
}

/*메뉴 애니메이션*/
.header-nav ul li a:before { /*메뉴 hover 효과*/
    content: '';
    width: 0px;
    height: 3px;
    background: #35b196;
    position: absolute;
    top:100%;
    left: 0;
    transition: .5s;
}

.header-nav ul li a:after { /*메뉴 hover 효과*/
    content: '';
    width: 0px;
    height: 3px;
    background: #f2ff39;
    position: absolute;
    top:100%;
    right: 0;
    transition: .5s;
}

.header-nav ul li:hover a:before { /*메뉴 hover 효과*/
    width: 50%;
    transform: translateX(100%);
}

.header-nav ul li:hover a:after { /*메뉴 hover 효과*/
    width: 50%;
    transform: translateX(-100%);
}

/* ================================================================= 섹션 =====================================================================*/
/* .main-section 박스 (최상위 박스) 설정*/
.main-section {
    position: absolute; /*body 기준으로 포지셔닝*/
    background-color: rgba(47, 49, 47, 0.9);
    top: 110px;
    left: 100px;
    height: 750px;
    width: 700px;
    font-family: 'Do Hyeon', sans-serif;
    border-radius: 20%;
    border: 2px solid white;
}

/* .main-text-container 박스 (.main-section 박스의 자식 박스) 설정*/
.main-text-container {
    position: relative;
}

/*promote yourself 텍스트 박스 설정*/
.main-text1 {
    position: absolute;
    top: 30px;
    left: 14%;
    height:200px;
    width:500px;
    font-size: 40px;
    color: white;
    text-align: center;
}

/*차트 박스 설정*/
.main-chart{
    position: absolute;
    top: 180px;
    left: 12.5%;
}

/*누적 데이터(total visits, total posts, active users) 텍스트 박스 설정*/
.main-text2{
    position: absolute;
    top: 530px;
    left: 14%;
    height:200px;
    width:500px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/*누적 데이터 텍스트 폰트 설정*/
.main-stats{
    font-family: 'Mukta', sans-serif;
    display: flex;
}

/*누적 데이터 개별 div 박스 3개 설정*/
.main-stats-container{
    border: 1px solid white;
    margin-left: 25px;
    margin-right: 25px;
    height: 130px;
    width: 120px;
    border-radius: 25%;
    position: relative;
}


/*누적 데이터 div박스 애니메이션*/
.main-stats-container:hover {
    transition: 1s;
    width: 170px;
    color: yellow;
    background-color: #27a041;
    box-shadow: 0 0 10px #27a041, 0 0 40px #27a041, 0 0 80px #27a041;
    border-radius: 30%;
    cursor: pointer;
}

/*누적 데이터 텍스트 설정*/
.main-stats-container-inner1 {
    position: aboslute;
    font-size: 13px;
    margin-top: 5px;
}

/*누적 데이터 카테고리 텍스트 설정*/
.main-stats-container-inner2 {
	font-size: 45px;
    position: aboslute;
    margin-top: 15px;
}

/* ================================================================= 푸터 =====================================================================*/
/*[1]: .footer 박스 (최상위 박스) 설정*/
.footer {
    position: absolute; /*body 기준으로 포지셔닝*/
    left: 0px;
    bottom: 0px;
    background-color: rgb(59, 57, 57);
    width: 100%;
    height: 70px;
    color: white; /*footer 텍스트 색상*/
}

/*[2]: .footer-container 박스 (footer 박스의 자식 박스) 설정*/
.footer-container {
    position:relative; /*[3-1], [3-2] 포지셔닝 기준*/
    height: 70px;
}

/*[3-1]: .logo-container 박스 (.footer-container 박스의 자식 박스) 설정*/
.logo-container {
    position: absolute; /*[2] 기준으로 포지셔닝*/
    left: 10px;
    height: 70px;
    display: flex; /*.logo-contianer 박스 자식인 div 박스들 인라인 정렬*/
}

/*.logo-container 박스의 자식 div 박스 2개 설정*/
.logo-container div {
    padding-left: 8px; /*로고 사이 간격 설정*/
    padding-right: 8px; /*로고 사이 간격 설정*/
}

/*logo 수직 정렬*/
#insta-logo { 
    line-height: 84px;
}
#fb-logo {
    line-height: 94px;
}

/*[3-2] #copyright 박스 (.footer-container 박스의 자식 박스) 설정*/
#copyright {
    position: absolute; /*[2] 기준으로 포지셔닝*/
    top: 30%; /*텍스트 수직 정렬*/
    right: 20px;
	font-family: 'Bebas Neue', cursive;
    font-size: 23px;
}


@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Krona+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


