/* 전체 영역에 적용될 내용 시작 */

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    border-style:initial;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    max-width: none !important;
}

/* 전체 영역 끝 */
.MtoM-all{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* --------상단 선택 박스 영역--------- */

.MtoM-question-mtom{
    margin-top: 30px;
    margin-bottom: 60px;
}
.MtoM-question-mtom p{
    text-align: center;
    width: 17%;
    border-bottom: 2px solid #858585;
    font-size: 30px;
    font-weight: 500;

}
.MtoM-question-mtom-go{
    text-align: center;
    height: auto;
    line-height: auto;
    float: right;
}
.MtoM-question-mtom-go button{
    text-align: center;
    height: 30px;
}
.MtoM-top-select-box{
    overflow: hidden;

}
.MtoM-top-select-box-left{
    width: 50%;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
}
.MtoM-top-select-box-left div{
    float: left;
    margin-right: 5px;
}
.MtoM-top-select-box-left div button{
    font-size: 11px;
    text-align: center;
    width: 70px;
    height: 30px;
}

.MtoM-top-select-right{
    width: 50%;
    float: right;
}

.MtoM-top-select-right select{
    float: right;
}
/* --------- 하단 문의내역 박스 영역-------- */
/* 제목 영역 */
.MtoM-bottom-question-box{
    border-top: 2px solid #777;
}
.MtoM-bottom-question-box-ul{
    text-align: center;
    overflow: hidden;
}
.MtoM-bottom-question-box-ul li{
    height: 40px;
    line-height: 40px;
    float: left;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid #777;
}
.MtoM-question-ck{
    width: 5%;
}
.MtoM-question-num{
    width: 5%;
}
.MtoM-question-sel{
    width: 10%;
}
.MtoM-question-title{
    width: 45%;
}
.MtoM-question-show{
    width: 10%;
}
.MtoM-question-date{
    width: 10%;
}
.MtoM-question-option{
    width: 15%;
}
/* 문의내역 영역 */
.MtoM-answer-box-ul{
    overflow: hidden;
}
.MtoM-answer-box-ul li:not(.MtoM-answer-box-title){
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    border-bottom: 1px solid #dadada;
    font-size: 12px;
    font-weight: 600;
}
.MtoM-answer-box-ck{
    text-align: center;
    width: 5%;
}
.MtoM-answer-box-num{
    width: 5%;
}
.MtoM-answer-box-sel{
    width: 10%;
}
.MtoM-answer-box-title{
    height: 50px;
    line-height: 50px;
    float: left;
    border-bottom: 1px solid #dadada;
    text-align: left;
    width: 45%;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 600;
}
.MtoM-answer-box-show{
    width: 10%;
}
.MtoM-answer-box-date{
    width: 10%;
}
.MtoM-answer-box-option{
    border-right: 1px solid #dadada;
    width: 15%;
}
.MtoM-answer-box-option .MtoM-btn-go{
    text-align: center;
    font-size: 10px;
    width: 65px;
    height: 25px;
}
.MtoM-btn-update{
    text-align: center;
    font-size: 10px;
    width: 45px;
    height: 25px;
}
.MtoM-btn-del{
    text-align: center;
    font-size: 10px;
    width: 45px;
    height: 25px;
}