/* sidebar */

.side-bar {
  position: fixed;
  top: 400px;
  right: 0;
  width: 100px;
  padding: 10px;
}

.side-list > li {
  text-align: center;
  width: 90px;
  height: 30px;
  line-height: 30px;
  background-color: #c2c8ca;
  margin-bottom: 1px;
}

.side-list > li > a {
  text-decoration: none;
}

.side-list > li > a,
.side-list > li > a:hover {
  color: #2d2d2d;
}

.side-list > li > a > p {
  margin-bottom: 0px;
}
