<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> <!-- 마이바티스xml설정 -->
  
  <!-- 마이바티스 설정파일 type에 명시된 클래스 이름을 함축시킵니다. -->
	<configuration>
		<typeAliases>
			<typeAlias type="com.hirehigher.command.UserVO" alias="UserVO"/>
			<typeAlias type="com.hirehigher.command.JobBoardVO" alias="JobBoardVO"/>
			<typeAlias type="com.hirehigher.util.VisitorCounterVO" alias="VisitorCounterVO"/>
		</typeAliases>
	</configuration>