<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hirehigher.reply.mapper.ReplyMapper">
  
  	<insert id="regist">
		insert into WORKREPLY(rno, bno, reply,)
		values (WORKREPLY_SEQ.nextval, #{bno}, #{reply},)
  	</insert>
  	
  	<select id="getList" resultType="WorkReplyVO">
  		<![CDATA[
		select *
		from (
		    select rownum rn,
		           a.*,
		           case when gap <= 60 then '방금전'
		                when gap <= 60 * 24 then trunc(gap / 60) || '시간전'
		                else to_char(replyDate, 'YYYY-MM-DD')
		           end as timegap
		    from (
		         select bno,
		                rno,
		                reply,
		                replyDate,
		                updateDate,
		                trunc( (sysdate - replydate) * 24 * 60  ) as gap
		         from WORKREPLY where bno = #{bno} order by rno desc
		    ) a
		) where rn > (#{cri.pageNum} - 1) * #{cri.amount} and rn <= #{cri.pageNum} * #{cri.amount}
		]]>
  	</select>
  	
  	<select id="getTotal" resultType="int">
  		select count(*) as total from WORKREPLY where bno = #{bno}
  	</select>
  	
  	
  	
  	<update id="update">
  		update WORKREPLY 
  		set reply = #{reply},
  			updateDate = sysdate
  		where rno = #{rno}
  	</update>
  	
  	
  	
  </mapper>